extends ../layouts/app	

block content
	h1 Create a User
	form(action="/users/create",method="POST")
		div(class="form-group")
			label Name
			input(type="text",name="name",class="form-control")
			button Add
block footer
	p Coder by Namisan